{% extends 'base.html.twig' %}

{% block title %}Workshift{% endblock %}

{% block body %}
    <h1>Workshift</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshift.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ workshift.date ? workshift.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ workshift.start }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ workshift.end }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workshift_index') }}">back to list</a>

    <a href="{{ path('app_workshift_edit', {'id': workshift.id}) }}">edit</a>

    {{ include('workshift/_delete_form.html.twig') }}
{% endblock %}
